body {
    background-color: red;
}

.body-div {
    margin: 40px 20% 40px 20%;
    padding: 25px 0px 25px 0px;
    background-color: black;
    border-radius: 10px;
}

.main-header {
    text-align: center;
    font-size: 40;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.second-header {
    text-align: center;
    font-size: 30;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

.button-div {
    text-align: center;
}

.color-button {
    width: 150px;
    height: 60px;
    font-size: 22px;
}