h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

main {
    border-color: black;
    border-style: solid;
    border-radius: 12px;
    margin: 7% 20% 0 20%;
    padding-bottom: 30px;
}

.buttons {
    width: 150px;
    height: 45px;
    border-radius: 5px;
    font-size: 25px;
}

.buttons:hover {
    background-color: lightblue;
}

#app-title-header,
#number-section,
#buttons-section {
    text-align: center;
}

#number {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}